.my-container {
    max-width: 1280px;
  }

.row-title {
    height: 50px;
}

.grey-backing {
    background: #2b3440;
}

.lt-grey-backing {
    background: #666666;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.black-links {
    color: #000000;
    text-decoration: none;
}
.red {
    color: red;
}

.green {
color: #00d142;
}

.img-invert {
    -webkit-filter:invert(100%);
     filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

.form-control:focus {
    background-color: #666666;

}

.link-color {
    text-decoration: none;
}